<% provide(:title, (t 'always_resolve.services').to_s.capitalize) %>

<%= render 'services/list' %>

<% if current_user.admin? %>
<div align="center">
  <%= link_to(new_service_path, :class => "btn-primary btn-large") do%>
    <i class="icon-plus-sign icon-white"></i> <b><%= t 'always_resolve.new_service' %></b>
  <% end %>
</div>
<% end %>