<table>
  <tr>
    <td>
      <img src="leaf.jpg" alt="Always Resolve" align="top">
    </td>
    <td>
      <% if user_signed_in? %>
        In questo momento sono attivi X domini, con Y servizi associati
      <% else %>
        <blockquote class="pull-right">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.</p>
        <small>Someone famous</small>
        </blockquote>
        <br>
        <div align="center">
          <%= link_to(new_user_registration_path, :class => "btn-primary btn-large") do%>
            <i class="icon-plus-sign icon-white"></i> <b><%= t 'always_resolve.sign_up' %></b>
          <% end %>
        </div>
      <% end %>
    </td>
  </tr>
</table>