<% provide(:title, (t 'always_resolve.domains').to_s.capitalize) %>

<%= render 'domains/list' %>

<% if current_user.admin? or current_user.services.where(service_type: 'service1', domain_id: nil).count > 0%>
<div align="center">
  <%= link_to(new_domain_path, :class => "btn-primary btn-large") do%>
    <i class="icon-plus-sign icon-white"></i> <b><%= t 'always_resolve.new_domain' %></b>
  <% end %>
</div>
<% end %>